<div class="container">
  <a routerLink="/movement-new" class="btn btn-outline-primary btn-sm">Nova Movimentação</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data Hora</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movements; index as i">
        <th scope="col">{{ i + 1 }}</th>
        <td>{{ item.createdAt[6] | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.description }}</td>
        <td [ngStyle]="{'color': item.movementType === 'RECEITA' ? 'blue' : 'red'}">{{ item.value | currency: 'BRL' }}
        </td>
        <td>{{ item.movementType }}</td>
      </tr>
    </tbody>
  </table>
</div>