<div class="container">

  <div class="jumbotron">
    <h1 class="display-6">Movimentações</h1>
    <p class="lead-1">Listagem das movimentações por correntista</p>
    <hr class="my-2">
    <div class="input-group">
      <select  id="iCorrentista" [(ngModel)]="holder" class="form-select">
        <option *ngFor="let holder of holders" [ngValue]="holder.id" >{{holder.cpf}}-{{holder.name}}</option>
      </select>
    <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="all()">Buscar</button>
    <a class="btn btn-outline-primary btn-sm" routerLink="/movement-new">Nova Movimentação</a>
    <a class="btn btn-outline-primary btn-sm" routerLink="/holders">Correntistas</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data Hora</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movements; index as i">
        <th scope="col">{{ i + 1 }}</th>
        <td>{{ item.createdAt[6] | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.description }}</td>
        <td [ngStyle]="{'color': item.movementType === 'RECEITA' ? 'blue' : 'red'}">{{ item.value | currency: 'BRL' }}
        </td>
        <td>{{ item.movementType }}</td>
      </tr>
    </tbody>
  </table>
</div>